[Desktop Entry]
Encoding=UTF-8
Name=Link to server
Type=Link
URL=https://github.com/spielhoelle/react-bestpractises/tree/master/server
Icon=text-html
